.containerSearch{
    border: 1px solid #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 10px;
    width: 50%;
    border-radius: 2.5px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.inputSearch{
    border: none;
    background: none;
    outline: none;
    color: #000000;
    font-size: 15px;
    width: 500px;
    height: 50px;
    float: left;
    line-height: 50%;
    border: 0;
}
body{
    font-family: 'Open Sans';
}

@media (max-width: 696px){
    .containerSearch{
        
    width: 80%;
    }
}